* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1200px;
  margin: auto;
}

header .logo {
  text-align: center;
  margin: 50px 0;
}
header ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
header ul a {
  text-decoration: none;
  color: #000;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
}
header ul a.active {
  background-color: #b2e5fc;
}

main {
  padding: 70px 0;
  margin-top: 20px;
  background-image: url("/images/fondo-pag-speciali.jpg");
}
main h2 {
  text-transform: uppercase;
  color: #002d73;
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0;
}
main .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
main .cards .card {
  height: 240px;
  width: calc((100% / 3) - 10px);
  margin: 5px;
}
main .cards .card img {
  height: 100%;
  width: 100%;
}

footer {
  padding-top: 100px;
  display: flex;
}
