* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1200px;
  margin: auto;
}

header .logo {
  text-align: center;
  margin: 50px 0;
}
header ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
header ul a {
  text-decoration: none;
  color: #000;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
}
header ul a.active {
  background-color: #b2e5fc;
}

main {
  padding: 70px 0;
  margin-top: 20px;
  background-image: url("/images/fondo-pag-speciali.jpg");
}
main h2 {
  text-transform: uppercase;
  color: #002d73;
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0;
}
main .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
main .cards .card {
  height: 240px;
  width: calc((100% / 3) - 10px);
  margin: 5px;
}
main .cards .card img {
  height: 100%;
  width: 100%;
}

footer {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url("/images/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
}
footer .container {
  display: flex;
}
footer .container .copyright {
  width: 38%;
  color: #848d9b;
  font-weight: 600;
  font-size: 18px;
}
footer .container .menu_footer {
  width: 62%;
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}
footer .container .menu_footer h3 {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  color: #848d9b;
  margin-bottom: 10px;
}
footer .container .menu_footer ul {
  list-style: none;
  margin-bottom: 15px;
}
footer .container .menu_footer ul a {
  text-decoration: none;
  color: #848d9b;
  font-weight: 600;
  font-size: 18px;
}

.product {
  margin-top: 20px;
  padding: 30px 0;
  background-color: #b7dae5;
  color: #002d73;
  font-weight: 600;
}
.product h1 {
  text-align: center;
  font-size: 35px;
}
.product img {
  width: 100%;
}
.product p {
  font-size: 18px;
}

h1 {
  margin: 30px 0;
  color: #002d73;
  text-align: center;
  font-size: 35px;
}
