.product {
    margin-top: 20px;
    padding: 30px 0;
    background-color: #b7dae5;
    color: $primary_blue;
    font-weight: $semiBold;
    h1 {
        text-align: center;
        font-size: 35px;
    }
    img {
        width: 100%;
    }
    p {
        font-size: 18px;
    }
}